{% extends 'base.html' %}
{% load static %}
{% block title %}Monthly Report{% endblock title %}

{% block body %}

<div class="page-wrapper">

    <div class="page-breadcrumb">



        <div class="container mt-5 ">

            <form action="/report" method="POST">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Select Month</h4>
                        <input type="month" class="form-control" name="month" required>
                    </div>
                </div>

                <div class="text-right">
                    <button class="btn btn-info">Get Report</button>
                </div>


            </form>

        </div>
    </div>
</div>



{% endblock body %}