{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>


    <title>Transaction</title>
</head>

<body>

    <div class="container mt-5">

        <h1 class="text-center mb-5">Transactions <a class="btn btn-primary" href="/export-csv" role="button">Export
                CSV</a>
        </h1>
        <table class="table table-hover" id="myTable">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">FeedBack</th>
                </tr>
            </thead>
            <tbody id="tbody" id="tbody">

                {% for t in alltransaction%}
                <tr>
                    <td>
                        {{t.category.category_name}}
                    </td>
                    <td>
                        {{t.amount}}
                    </td>
                    <td>
                        {{t.date}}
                    </td>
                    <td>
                        {{t.feedback}}
                    </td>
                </tr>
                {% endfor %}



            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>

</body>

</html>